
.square {
    height: 150px;
    border: 2px solid black;
    border-radius: 2%;  
    background-color: red;
    
}
.title {
    font-weight: bolder;
}
.selection {
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
}

.tictactoe {
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
  
}
.line { 
    height: 1px;
    background-color: black;
    padding: 1%;
    border: 2px solid silver;
}
.board {

}
.One {
    margin-left: 20%;
}
