
.square {
    height: 150px;
    border: 3px solid black;
    border-radius: 5%;  
    background-color: #699E3C;

    
}
.title {
    font-weight: bolder;
    text-shadow: 2px 2px #DED2A8;
    font-family: 'Gothic A1', sans-serif;
}
.selection {
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
    text-shadow: 3px 2px #DED2A8;
    font-family: 'Gothic A1', sans-serif;
    
}

.tictactoe {
    text-align: center;
    font-weight: bolder;
    font-family: 'Gothic A1', sans-serif;

  
}
.line { 
    height: 1px;
    background-color: black;
    width: 100%;
    border: 2px solid white;
}
#body {
  background-color: #302718;
}
.One {
    margin-left: 20%;
}

#color {
    border: 3px solid black;
    background-color: #699E3C;
}
